.country img {
  width: 200px;

}
.country {
  border: 2px solid rebeccapurple;
  background-color: aqua;
  border-radius: 20px;
  padding: 20px;
}

.countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
